# {{ ansible_managed }}
# For a complete list of options, see https://github.com/kamax-io/mxisd

#######################
# Matrix config items #
#######################
# Matrix domain, same as the domain configure in your Homeserver configuration.
#
# This is used to build the various identifiers for identity, auth and directory.
matrix:
  domain: {{ domain }}

server:
   name: {{ hostname }}

dns:
  overwrite:
    homeserver:
      client:
      - name: {{ hostname }}
        value: http://127.0.0.1:8008

#directory.exclude.homeserver: true

################
# Signing keys #
################
# Absolute path for the Identity Server signing key.
# During testing, /var/tmp/mxisd.key is a possible value
#
key:
  path: /var/lib/mxisd/signing.key

############################
# Persistence config items #
############################

# Configure the storage backend, usually a DB
# Possible built-in values:
#   sqlite                      SQLite backend, default
#
#storage.backend: 'sqlite'

# Path to the SQLite DB file
storage:
  provider:
    sqlite:
      database: /var/lib/mxisd/mxisd.db
{% if mxisd_ldap_enable %}

################
# LDAP Backend #
################
# If you would like to integrate with your AD/Samba/LDAP server,
# see https://github.com/kamax-io/mxisd/blob/master/docs/backends/ldap.md

ldap:
  enabled: true
  connection:
    host: {{ mxisd_ldap_server }}
    bindDn: {{ mxisd_bind_dn }}
    bindPassword: {{ mxisd_bind_pass }}
    baseDn: {{ mxisd_base_dn }}
    tls: {{ mxisd_ldap_tls }}
    port: {{ mxisd_ldap_port }}
  filter: {{ mxisd_ldap_filter }}
  attribute:
    uid:
      type: uid
      value: sAMAccountName
    name: displayName
    threepid:
      email:
        - mail
      msisdn:
        - telephoneNumber
        - mobile
{% endif %}
{% if mxisd_sql_enable %}

###############
# SQL Backend #
###############
# If you would like to integrate with a MySQL/MariaDB/PostgreQL/SQLite DB,
# see https://github.com/kamax-io/mxisd/blob/master/docs/backends/sql.md
synapseSql:
    connection: {{ mxisd_sql_connection_string }}
    enabled: true
    type: {{ mxisd_sql_type }}
{% endif %}

################
# REST Backend #
################
# If you would like to integrate with an existing web service/webapp,
# see https://github.com/kamax-io/mxisd/blob/master/docs/backends/rest.md

#################################################
# Notifications for invites/addition to profile #
#################################################
# If you would like to change the content,
# see https://github.com/kamax-io/mxisd/blob/master/docs/threepids/notifications/template-generator.md
#
#### E-mail invite sender

{% if mail %}
threepid:
  medium:
    email:
      identity:
        from: {{ mail_from }}
        name: {{ mail_name }}
      connectors:
        smtp:
          host: {{ mail_host }}
          port: {{ mail_port }}
          # 0 = no STARTLS, 1 = try, 2 = force
          tls: {{ mail_tls }}
          login: {{ mail_user }}
          password: {{ mail_pass }}
      identity:
        from: {{ mail_from }}
{% endif %}