server {
        listen   80;
        server_name {{ hostname }};
        access_log  /var/log/nginx/synapse.access.log;
        error_log  /var/log/nginx/synapse.nginx_error.log;
        location / {
                proxy_pass       http://127.0.0.1:8008/;
        }
}

server {
        listen   443 ssl;
        server_name {{ hostname }};
        access_log  /var/log/nginx/synapse.access.log;
        error_log  /var/log/nginx/synapse.nginx_error.log;
        location / {
                proxy_pass       http://127.0.0.1:8008/;
        }
        ssl_certificate      {{ absolute_path_certificate }};
        ssl_certificate_key  {{ absolute_path_key }};
}
