        location /.well-known/matrix {
            root {{ le_well_known_location }};
            expires 4h;
            default_type "application/json";
            add_header Access-Control-Allow-Origin *;
            allow all;
        }
{% if nginx_block_openid | bool %}

        location ~ /_matrix/.*(openid) {
            deny  all;
        }
{% endif %}
{% if install_mxisd | bool %}

        location /_matrix/identity {
            proxy_pass       http://127.0.0.1:8090/_matrix/identity;
            proxy_set_header X-Forwarded-For $remote_addr;
        }

        location /_matrix/client/r0/user_directory {
            proxy_pass       http://127.0.0.1:8090/_matrix/client/r0/user_directory;
            proxy_set_header X-Forwarded-For $remote_addr;
        }
{% endif %}

        location / {
            proxy_pass       http://127.0.0.1:8008;
            proxy_set_header X-Forwarded-For $remote_addr;
        }
