[Unit]
Description=Synapse Matrix Homeserver
After=network.target
After=syslog.target

[Service]
Type=simple
User={{ username }}
Group={{ username }}
WorkingDirectory={{ synapse_path }}/
ExecStart={{ synapse_path }}/bin/python -B -m synapse.app.homeserver -c {{ synapse_path }}/homeserver.yaml
ExecStop={{ synapse_path }}/bin/synctl stop {{ synapse_path }}/homeserver.yaml
Restart=on-failure
Environment=USER={{ username }} HOME=/home/{{ username }}
Environment=SYNAPSE_CACHE_FACTOR={{synapse_cache_factor }}

[Install]
WantedBy=multi-user.target
