{
    "default_hs_url": "https://{{ riot_hs_url }}",
    "default_is_url": "https://{{ riot_is_url }}",
    "brand": "{{ riot_brand }}",
{% if riot_integration_ui is defined and not riot_integration_ui is none %}
    "integrations_ui_url": "{{ riot_integration_ui }}",
{% endif %}
{% if riot_integration_api is defined and not riot_integration_api is none %}
    "integrations_rest_url": "{{ riot_integration_api }}",
{% endif %}
    "enableLabs": true,
    "roomDirectory": {
        "servers": [
            "{{ hostname }}"
        ]
    },
    "default_theme": "{{ riot_theme }}"
}