# {{ ansible_managed }}
server {
        listen 80;
{% if not (ansible_default_ipv6.address is undefined or ansible_default_ipv6.address is none or ansible_default_ipv6.address | trim == '') %}
        listen [::]:80;
{% endif %}
        server_name {{ riot_hostname }};
        access_log  /var/log/nginx/{{ riot_hostname }}.access.log;
        error_log  /var/log/nginx/{{ riot_hostname }}.error.log;

{% if riot_path_certificate is none and riot_path_key is none %}
        root {{ riot_path }}/{{ riot_im_archive }};
{% endif %}
{% if riot_path_certificate is not none and riot_path_certificate | length > 0 and riot_path_key is not none and riot_path_key | length > 0 %}
        return 301 https://$host$request_uri;
{% endif %}
}
{% if riot_path_certificate is not none and riot_path_certificate | length > 0 and riot_path_key is not none and riot_path_key | length > 0 %}

server {
        listen 443 ssl http2;
{% if not (ansible_default_ipv6.address is undefined or ansible_default_ipv6.address is none or ansible_default_ipv6.address | trim == '') %}
        listen [::]:443 ssl http2;
{% endif %}
        server_name {{ riot_hostname }};
        access_log  /var/log/nginx/{{ riot_hostname }}.access.log;
        error_log  /var/log/nginx/{{ riot_hostname }}.error.log;

        root {{ riot_path }}/{{ riot_im_archive }};

        ssl_certificate      {{ riot_path_certificate }};
        ssl_certificate_key  {{ riot_path_key }};
        ssl_dhparam          {{ DH_params_location }};
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;

        ssl_ciphers
        "EECDH+AESGCM:EDH+AESGCM:ECDHE-RSA-AES128-GCM-SHA256:AES256+EECDH:DHE-RSA-AES128-GCM-SHA256:AES256+EDH:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";
}
{% endif %}