# {{ ansible_managed }}
server {
        listen 80;
{% if not (ansible_default_ipv6.address is undefined or ansible_default_ipv6.address is none or ansible_default_ipv6.address | trim == '') %}
        listen [::]:80;
{% endif %}
        server_name {{ riot_hostname }};
        access_log  /var/log/nginx/{{ riot_hostname }}.access.log;
        error_log  /var/log/nginx/{{ riot_hostname }}.error.log;

        location ~ /\.well-known {
            allow all;
            root {{ riot_path }};
        }
{% if riot_path_certificate is none and riot_path_key is none %}
        root {{ riot_path }}/{{ riot_im_archive }};
{% endif %}
{% if riot_path_certificate is not none and riot_path_certificate | length > 0 and riot_path_key is not none and riot_path_key | length > 0 %}
        return 301 https://$host$request_uri;
{% endif %}
}
{% if riot_path_certificate is not none and riot_path_certificate | length > 0 and riot_path_key is not none and riot_path_key | length > 0 %}

server {
        listen 443 ssl http2;
{% if not (ansible_default_ipv6.address is undefined or ansible_default_ipv6.address is none or ansible_default_ipv6.address | trim == '') %}
        listen [::]:443 ssl http2;
{% endif %}
        server_name {{ riot_hostname }};
        access_log  /var/log/nginx/{{ riot_hostname }}.access.log;
        error_log  /var/log/nginx/{{ riot_hostname }}.error.log;

        root {{ riot_path }}/{{ riot_im_archive }};

        ssl_certificate      {{ riot_path_certificate }};
        ssl_certificate_key  {{ riot_path_key }};

        location ~ /\.well-known {
            allow all;
            root {{ riot_path }};
        }
}
{% endif %}
