# {{ ansible_managed }}
server {
        listen 80 default_server;
{% if not (ansible_default_ipv6.address is undefined or ansible_default_ipv6.address is none or ansible_default_ipv6.address | trim == '') %}
        listen [::]:80 default_server;
{% endif %}
        server_name {{ hostname }};

{% if riot_path_certificate is none and riot_path_key is none %}
        include common/{{ hostname}}/*.conf;
{% endif %}
        location ~ /\.well-known {
            default_type "text/plain";
            allow all;
            root {{ le_well_known_location }};
        }
{% if riot_path_certificate is not none and riot_path_certificate | length > 0 and riot_path_key is not none and riot_path_key | length > 0 %}
        return 301 https://$host$request_uri;
{% endif %}
}
{% if riot_path_certificate is not none and riot_path_certificate | length > 0 and riot_path_key is not none and riot_path_key | length > 0 %}

server {
        listen 443 default_server ssl http2;
{% if not (ansible_default_ipv6.address is undefined or ansible_default_ipv6.address is none or ansible_default_ipv6.address | trim == '') %}
        listen [::]:443 default_server ssl http2;
{% endif %}
        server_name {{ hostname }};
        ssl_certificate      {{ synapse_path_certificate }};
        ssl_certificate_key  {{ synapse_path_key }};

        location ~ /\.well-known {
            default_type "text/plain";
            allow all;
            root {{ le_well_known_location }};
        }
        include common/{{ hostname}}/*.conf;
}
{% if install_reverseproxy | bool %}

server {
	listen 8448 ssl http2;
{% if not (ansible_default_ipv6.address is undefined or ansible_default_ipv6.address is none or ansible_default_ipv6.address | trim == '') %}
	listen [::]:8448 ssl http2;
{% endif %}
	server_name {{ hostname }};

        ssl_certificate      {{ synapse_path_certificate }};
        ssl_certificate_key  {{ synapse_path_key }};

        access_log off;
        include common/{{ hostname}}/*.conf;
}
{% endif %}
{% endif %}